* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.form {
    padding: 40px;
    width: 400px;
    border-radius: 8px;
    border: 2px solid teal;
    display: flex;
    flex-direction: column;
}

.form input {
    min-width: 300px;
    width: 100%;
    padding: 5px 10px;
    border: teal 1px solid;
}

.form button {
    margin-top: 15px;
    margin-left: auto;
    border: teal 1px solid;
    background: none;
    padding: 10px 15px;
    font-weight: bold;
    color: teal;
    cursor: pointer;
}

.form button:focus, .form input:focus {
    outline: none;
}

.connection_message {
    width: 400px;
    text-align: center;
}

.message {
    width: 400px;
    border: 2px solid teal;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
}

